{{#if shouldShow}}
  <div class="custom-gated-topic-container">
    <div class="custom-gated-topic-content">
      <div class="custom-gated-topic-content--header">
        {{theme-i18n "heading_text"}}
      </div>

      <p class="custom-gated-topic-content--text">
        {{#if this.currentUser}}
          {{theme-i18n "subheading_text_user"}}
        {{else}}
          {{theme-i18n "subheading_text"}}
        {{/if}}
      </p>

      <div class="custom-gated-topic-content--cta">
        {{#if this.currentUser}}
          <a
            href="{{theme-setting 'custom_button_link'}}"
            class="btn-primary btn-large"
          >
            {{theme-i18n "signup_cta_label_user"}}
          </a>
        {{else}}
          <div class="custom-gated-topic-content--cta__signup">
            {{d-button
              action=(route-action "showCreateAccount")
              class="btn-primary btn-large sign-up-button"
              translatedLabel=(theme-i18n "signup_cta_label")
            }}
          </div>

          <div class="custom-gated-topic-content--cta__login">
            {{d-button
              action=(route-action "showLogin")
              id="cta-login-link"
              class="btn btn-text login-button"
              translatedLabel=(theme-i18n "login_cta_label")
            }}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}